
<!-- Nav: block, street and filter -->  
 <ul class="nav">
  <li class="nav-item">
    <div class="dropdown">
      <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Block {{ blockNumber}}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% for mapBlock in mapBlocks %}
        <a class="dropdown-item" href="?Map={{ mapNumber }}&Block={{ mapBlock.Block }}&Filter={{ Filter }}">
          Block {{ mapBlock.Block }} [{{ mapBlock.blockToContact }}] 
        </a>
      {% endfor %} 
        </div>
    </div>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if street %}
             {{ street }}
          {% else %}
             Street
          {% endif %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% for street in streets %}
        <a class="dropdown-item" href="?Map={{ mapNumber }}&Block={{ blockNumber }}&Street={{ street.streetWithDash }}&Filter={{ Filter }}">
          {{ street.street }}
        </a>
      {% endfor %} 
        </div>
    </div>
  </li>
  <li class="nav-item">
      <!-- Example single danger button -->
    <div class="btn-group">
      <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#exampleModal1" data-toggle="modal" data-target="#exampleModal1">Add address</a>
        <a class="dropdown-item" href="#exampleModal2" data-toggle="modal" data-target="#exampleModal2">Delete address</a>
        <a class="dropdown-item" href="#exampleModal3" data-toggle="modal" data-target="#exampleModal3">Add DNC</a>
      </div>
    </li>
</ul>


{% include 'modal-forms.twig' %}

<ul class="list-group">
  {% for address in addresses %}
    {% if address.cStatus == 'ah' %}
      <!-- Contacted -->
      <li id="{{ address.recID }}" class="list-group-item">
        <div class="background-color: red;">
          <form id="{{ address.recID }}-form">
            <input type="hidden" name="id" value="{{ address.recID }}">
            <input type="hidden" name="notHome" value="">
            <input type="hidden" name="streetNumber" value="{{ address.streetNumber }}">
            <input type="hidden" name="streetName" value="{{ address.streetName }}">
            <input type="hidden" name="addressDescription" value="{{ address.description|raw }}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="{{ address.recID }}-checkbox" ic-post-to="updateStatus.php" ic-target="#{{ address.recID }}" ic-confirm="Are you sure?" checked>
              <label class="form-check-label" for="defaultCheck1">
              <div class="text-muted">
                {{ address.streetNumber }} {{ address.streetName }}
                <span id="{{ address.recID }}-visitDate" class="ml-3 badge-pill badge-light text-muted">
                  <small><i>{{ address.modDate|date("D d M") }}</i></small>
                </span>
                {% if address.description  %}
                  </br><small class="text-muted">{{ address.description|raw }}</small>
                {% endif %}
              </div>
            </label>
            </div>
          </form>
        </div>
      </li>
    {% elseif address.cStatus == 'DNC' %}
      <!-- DNC -->
      <li id="{{ address.recID }}" class="list-group-item " > <!-- option: list-group-item-danger -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="{{ address.recID }}-checkbox" disabled>
          <label class="form-check-label" for="defaultCheck1">
            <span class="badge badge-danger">DNC</span> {{ address.streetNumber }} {{ address.streetName }}
            {% if address.description  %}
              </br><small class="text-muted">{{ address.description|raw }}</small>
            {% endif %}
          </label>
        </div>
      </li> 
    {% elseif address.cStatus == 'HousingUnits' %}
       <!-- Housing Units -->
       <!-- <li id="Map-99-Block-88" class="list-group-item list-group-item-primary">
        <a  href="ah.php?Map=99&Block=88" role="button">
        {{ address.streetNumber }} {{ address.streetName }}    
        </a>
        <span class="badge badge-light">{{ address.cUnitsCount }} units</span>
        <span class="badge badge-pill badge-secondary">{{ address.UnitsNH }}</span>
      </li> -->
      <li id="{{ address.recID }}" class="list-group-item list-group-item-primary">
        <a onclick="loadHousingUnits('{{ address.recID }}', 'Contacted', '{{ address.streetNumber }}-{{ address.streetNameWithDash }}-units')" data-toggle="collapse" href="#{{ address.streetNumber }}-{{ address.streetNameWithDash }}-units" role="button" aria-expanded="false" aria-controls="{{ address.streetNumber }}-{{ address.streetNameWithDash }}-units">
        {{ address.streetNumber }} {{ address.streetName }}
        </a>
        <span class="badge badge-light">{{ address.cUnitsCount }} units</span>
        <span class="badge badge-pill badge-secondary">{{ address.UnitsNH }}</span>
      </li>
      <div class="collapse" id="{{ address.streetNumber }}-{{ address.streetNameWithDash }}-units"></div>
    {% else %}
       <!-- Default: Not contacted yet -->
       <li id="{{ address.recID }}" class="list-group-item">
          <form id="{{ address.recID }}-form">
            <input type="hidden" name="id" value="{{ address.recID }}">
            <input type="hidden" name="isHome" value="">
            <input type="hidden" name="streetNumber" value="{{ address.streetNumber }}">
            <input type="hidden" name="streetName" value="{{ address.streetName }}">
            <input type="hidden" name="addressDescription" value="{{ address.description|raw }}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="{{ address.recID }}-checkbox" ic-post-to="updateStatus.php" 
          ic-target="#{{ address.recID }}">
              <label class="form-check-label" for="defaultCheck1">
                {{ address.streetNumber }} {{ address.streetName }}
                {% if address.description  %}
                  </br><small class="text-muted">{{ address.description|raw }}</small>
                {% endif %}
              </label>
             </div>
          </form>
        </li>
    {% endif %}
  {% endfor %}
</ul>


        