  <figure class="figure">
    <img src="img/jw2019_Primary_Logo_700.png" class="figure-img img-fluid rounded" alt="2019 Melbourne International Convention Campaign.">
    <figcaption class="figure-caption text-right pr-2">International Convention Invitation Campaign</figcaption>
  </figure>

<!-- Consider using list group button or link instead -->
  <ul class="list-group">
	{% for map in availableMaps %}
	  <li id="Map-{{ map.Map }}" class="list-group-item">
	  	<a  href="?Map={{ map.Map }}" role="button">
	  	  Map {{ map.Map }}
	    <!--</a><span class="pl-5"><small class="text-muted">{{ map.Name }}</small></span>-->
	    </a>
	    <span class="badge badge-light ml-2">{{ map.Name }}</span>
	    <span class="badge badge-pill badge-secondary ml-2">{{ map.toContact }}</span>
	  	<div class="float-right"><span class="badge badge-{{ map.Colour }}">{{ map.Suburb }}</span></div>
	  </li>
	{% endfor %}
   </ul>