<!-- Consider using list group button or link instead -->
  <ul class="list-group">
	{% for map in availableMaps %}
	  <li id="Map-{{ map.Map }}" class="list-group-item">
	  	<a  href="?Map={{ map.Map }}" role="button">
	  	  Map {{ map.Map }}	 
	  	</a><span class="pl-5"><small class="text-muted">{{ map.Name }}</small></span>
	  	<div class="float-right"><span class="badge badge-{{ map.Colour }}">{{ map.Suburb }}</span></div>
	  </li>
	{% endfor %}
   </ul>