  <figure class="figure">
    <img srcset="
      img/memorial_2020_206.jpg   206w,
      img/memorial_2020_412.jpg   412w,
      img/memorial_2020_828.jpg   828w,
      img/memorial_2020_1140.jpg 1140w"

      src="img/memorial_2020_1140.jpg"
      class="img-fluid"
      alt="Image of Item {{ itemId }}">
    <!--<img src="img/memorial_2020_1140.jpg" class="figure-img img-fluid rounded" alt="2019 Melbourne International Convention Campaign.">-->
    <figcaption class="figure-caption text-right pr-2">2020 Memorial Invitation Campaign.</figcaption>
  </figure>

<!-- Consider using list group button or link instead -->
  <ul class="list-group">
	{% for map in availableMaps %}
	  <li id="Map-{{ map.Map }}" class="list-group-item">
	  	<a  href="?Map={{ map.Map }}" role="button">
	  	  Map {{ map.Map }}
	    <!--</a><span class="pl-5"><small class="text-muted">{{ map.Name }}</small></span>-->
	    </a>
	    <span class="badge badge-light ml-2">{{ map.Name }}</span>
	    <span class="badge badge-pill badge-secondary ml-2">{{ map.toContact }}</span>
	  	<div class="float-right"><span class="badge badge-{{ map.Colour }}">{{ map.Suburb }}</span></div>
	  </li>
	{% endfor %}
   </ul>