{% extends "base.html" %}

{% block title %}At Homes{% endblock %}

{% block Navbar %}
  <a class="navbar-brand" href="index.php">At Homes</a>
  {% if mapNumber %}
  <button onclick="loadMapDetails({{ mapNumber }})" class="nav-link btn btn-outline-light" data-toggle="collapse" href="#map-{{ mapNumber }}-info" role="button" aria-expanded="false" aria-controls="map-{{ mapNumber }}-info" ic-get-from="mapDetails.php?Map={{ mapNumber }}" ic-target="#mapDetails">Map {{ mapNumber }}</button>
  {% endif %}
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>          
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01" style="">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="whatsapp://chat?code=ALhU5zMyOlu82xhiHwi8UV">Help (WhatsApp Group)</a>
        </li> 
        <li class="nav-item">
        <a class="nav-link" href="phone">Phone Calls</a>
        </li>
         <li class="nav-item">
        <a class="nav-link" href="admin/?Filter=assigned">Admin</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="admin/s-13.php">S-13</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="admin/address-change-log.php">Change Log</a>
        </li>
        
      <!--
      
      <li class="nav-item">
        <a class="nav-link" href="signout.php">Sign out</a>
      </li>-->
    </ul>
  </div>
{% endblock %}

{% block content %}
	<!-- Map image and info -->
	<div class="collapse" id="map-{{ mapNumber }}-info">

    <div class="container">

    <div id"mapDetails"></div>


      <div class="card">
        <div class="card-body" id="mapDetails">
        </div>
      </div>

      <div id="{{ mapNumber }}-history"></div>

    </div>

      <script>
        function loadMapDetails(Map) {
        //  alert("hello world!");
        //  alert("hello Map " + Map);
          $.get("mapDetails.php",
                {
                  Map: Map,
        //        Filter: Filter
                },
                function(data,status){
                    var e1 = (data);
        //            alert(e1);
                    document.getElementById("mapDetails").innerHTML = e1;
                });    
 
        }
        </script>
  </div>

{% if errorMessage %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ errorMessage }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>  
{% endif %} 	

{% if availableMaps %}
  {% include 'availableMaps.twig' %}
{% endif %} 

{% if addresses %}
  <div class="text-center">
    <img src="https://skyricho.github.io/img/maps/{{ mapNumber }}.jpg" class="img-fluid">
  </div> 
  {% include 'addressList.twig' %}
{% elseif blockNumber %}
  <div class="text-center">
    <img src="https://skyricho.github.io/img/maps/{{ mapNumber }}.jpg" class="img-fluid">
  </div>
   {% include 'streetList.twig' %}
{% elseif mapNumber %}
  <div class="text-center">
    <img src="https://skyricho.github.io/img/maps/{{ mapNumber }}.jpg" class="img-fluid">
  </div>
  {% include 'mapBlocks.twig' %}
{% endif %} 
    
{% endblock %}

