{% extends "base.html" %}

{% block title %}At Homes{% endblock %}

{% block Navbar %}
  <a class="navbar-brand" href="index.php">At Homes</a
  {% if mapNumber %}
  <button onclick="loadMapDetails({{ mapNumber }})" class="nav-link btn btn-outline-light" data-toggle="collapse" href="#map-{{ mapNumber }}-info" role="button" aria-expanded="false" aria-controls="map-{{ mapNumber }}-info" ic-get-from="mapDetails.php?Map={{ mapNumber }}" ic-target="#mapDetails">Map {{ mapNumber }}</button>
  {% else %}
  <a href="#" ic-get-from="memorial-2021-letters-sent.php" ic-trigger-on="load"></a>
  {% endif %}
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>          
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01" style="">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="phone">Phone Calls</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="whatsapp://chat?code=ALhU5zMyOlu82xhiHwi8UV">Help (WhatsApp Group)</a>
        </li> 
        <!--<li class="nav-item">
        <a class="nav-link" href="localbusiness">Local Businesses</a>
        </li>-->
        <li class="nav-item">
        <li class="nav-item">
        <a class="nav-link" href="territory-overview">Territory Overview</a>
        </li>
        <a class="nav-link" href="admin/?Filter=assigned">Admin</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="admin/s-13.php">S-13</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="admin/address-change-log.php">Change Log</a>
        </li>
        
      <!--
      
      <li class="nav-item">
        <a class="nav-link" href="signout.php">Sign out</a>
      </li>-->
    </ul>
  </div>
{% endblock %}

{% block content %}

<img src="img/memorial-2021.png" class="img-fluid" alt="A picture of Jesus using his arms to warmly direct us the way to go.">
<div class="bg-dark">
  <h6 class="text-white p-3 text-center">2021 Memorial Invitation Campaign</h6>
        <!--<div class="text-center">
          <span class="badge badge-light mb-2">x letters sent</span>
        </div>-->
</div>


  <!--<div class="alert alert-dark" role="alert">foo</div>-->
  <!--ic-get-from="memorial-2021-letters-sent.php" ic-trigger-on="load"-->
  <!-- Memrorial Campign -->
  <!--<figure class="figure">
    <img src="img/memorial-2021.png" class="figure-img img-fluid rounded" alt="A picture of Jesus using his arms to warmly direct us the way to go.">
    <figcaption class="figure-caption pl-2">2021 Memorial Invitation Campaign.</figcaption>
  </figure>-->

 
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Zac</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Nick</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Shayne</a>
    <a class="nav-item nav-link" id="nav-craig-tab" data-toggle="tab" href="#nav-craig" role="tab" aria-controls="nav-craig" aria-selected="false">Craig</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="list-group">
      <a href="my-list.php?name=Brett" class="list-group-item list-group-item-action">Brett</a>
      <a href="my-list.php?name=Nicole" class="list-group-item list-group-item-action">Nicole</a>
      <a href="my-list.php?name=Fran" class="list-group-item list-group-item-action">Fran</a>
      <a href="my-list.php?name=Gionatan" class="list-group-item list-group-item-action">Gionatan</a>
      <a href="my-list.php?name=Bianca" class="list-group-item list-group-item-action">Bianca</a>
      <a href="my-list.php?name=Anna" class="list-group-item list-group-item-action">Anna</a>
      <a href="my-list.php?name=Jun" class="list-group-item list-group-item-action">Jun</a>
      <a href="my-list.php?name=Callum" class="list-group-item list-group-item-action">Callum</a>
      <a href="my-list.php?name=Lucas" class="list-group-item list-group-item-action">Lucas</a>
      <a href="my-list.php?name=Jacqueline-E" class="list-group-item list-group-item-action">Jacqueline</a>
      <a href="my-list.php?name=GeorgiaS" class="list-group-item list-group-item-action">Georgia</a>
      <a href="my-list.php?name=Indiana" class="list-group-item list-group-item-action">Indiana</a>
      <a href="my-list.php?name=Karl" class="list-group-item list-group-item-action">Karl</a>
      <a href="my-list.php?name=Talitha" class="list-group-item list-group-item-action">Talitha</a>
      <a href="my-list.php?name=Texas" class="list-group-item list-group-item-action">Texas</a>
      <a href="my-list.php?name=Larry" class="list-group-item list-group-item-action">Larry</a>
      <a href="my-list.php?name=Denise" class="list-group-item list-group-item-action">Denise</a>
      <a href="my-list.php?name=Jonah" class="list-group-item list-group-item-action">Jonah</a>
      <a href="my-list.php?name=Jamie" class="list-group-item list-group-item-action">Jamie</a>
      <a href="my-list.php?name=Karen" class="list-group-item list-group-item-action">Karen</a>
      <a href="my-list.php?name=Mia" class="list-group-item list-group-item-action">Mia</a>
      <a href="my-list.php?name=Zac" class="list-group-item list-group-item-action">Zac</a>
      <a href="my-list.php?name=Group-1-Extras" class="list-group-item list-group-item-action">Group 1 Extras</a>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="list-group">
      <a href="my-list.php?name=Alison" class="list-group-item list-group-item-action">Alison</a>
      <a href="my-list.php?name=Faz" class="list-group-item list-group-item-action">Faz</a>
      <a href="my-list.php?name=GeorgiaK" class="list-group-item list-group-item-action">Georgia</a>
      <a href="my-list.php?name=Olivia" class="list-group-item list-group-item-action">Olivia</a>
      <a href="my-list.php?name=Mathias" class="list-group-item list-group-item-action">Mathias</a>
      <a href="my-list.php?name=Jenny" class="list-group-item list-group-item-action">Jenny</a>
      <a href="my-list.php?name=Michael" class="list-group-item list-group-item-action">Michael</a>
      <a href="my-list.php?name=Ange" class="list-group-item list-group-item-action">Ange</a>
      <a href="my-list.php?name=John" class="list-group-item list-group-item-action">John</a>
      <a href="my-list.php?name=Cynthia" class="list-group-item list-group-item-action">Cynthia</a>
      <a href="my-list.php?name=Maurizio" class="list-group-item list-group-item-action">Maurizio</a>
      <a href="my-list.php?name=Geoff" class="list-group-item list-group-item-action">Geoff</a>
      <a href="my-list.php?name=Deb" class="list-group-item list-group-item-action">Deb</a>
      <a href="my-list.php?name=Val" class="list-group-item list-group-item-action">Val</a>
      <a href="my-list.php?name=Sky" class="list-group-item list-group-item-action">Sky</a>
      <a href="my-list.php?name=Lulu" class="list-group-item list-group-item-action">Lulu</a>
      <a href="my-list.php?name=Asia" class="list-group-item list-group-item-action">Asia</a>
      <a href="my-list.php?name=Fienne" class="list-group-item list-group-item-action">Fienne</a>
      <a href="my-list.php?name=Brooke" class="list-group-item list-group-item-action">Brooke</a>
      <a href="my-list.php?name=Hugh" class="list-group-item list-group-item-action">Hugh</a>
      <a href="my-list.php?name=Diana" class="list-group-item list-group-item-action">Diana</a>
      <a href="my-list.php?name=Group-2-Extras" class="list-group-item list-group-item-action">Group 2 Extras</a>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="list-group">
      <a href="my-list.php?name=Tania" class="list-group-item list-group-item-action">Tania</a>
      <a href="my-list.php?name=Jason" class="list-group-item list-group-item-action">Jason</a>
      <a href="my-list.php?name=Remon" class="list-group-item list-group-item-action">Remon</a>
      <a href="my-list.php?name=Megan" class="list-group-item list-group-item-action">Megan</a>
      <a href="my-list.php?name=Michelle" class="list-group-item list-group-item-action">Michelle</a>
      <a href="my-list.php?name=Shayne" class="list-group-item list-group-item-action">Shayne</a>
      <a href="my-list.php?name=Colin" class="list-group-item list-group-item-action">Colin</a>
      <a href="my-list.php?name=Sam" class="list-group-item list-group-item-action">Sam</a>
      <a href="my-list.php?name=Amelie" class="list-group-item list-group-item-action">Amelie</a>
      <a href="my-list.php?name=Edna" class="list-group-item list-group-item-action">Edna</a>
      <a href="my-list.php?name=Brendon" class="list-group-item list-group-item-action">Brendon</a>
      <a href="my-list.php?name=Francis" class="list-group-item list-group-item-action">Francis</a>
      <a href="my-list.php?name=Bailey" class="list-group-item list-group-item-action">Bailey</a>
      <a href="my-list.php?name=Kabe" class="list-group-item list-group-item-action">Kabe</a>
      <a href="my-list.php?name=Bodhi" class="list-group-item list-group-item-action">Bodhi</a>
      <a href="my-list.php?name=Marty" class="list-group-item list-group-item-action">Marty</a>
      <a href="my-list.php?name=Jess" class="list-group-item list-group-item-action">Jess</a>
      <a href="my-list.php?name=Javier" class="list-group-item list-group-item-action">Javier</a>
      <a href="my-list.php?name=Remi" class="list-group-item list-group-item-action">Remi</a>
      <a href="my-list.php?name=Kailey" class="list-group-item list-group-item-action">Kailey</a>
      <a href="my-list.php?name=Rie" class="list-group-item list-group-item-action">Rie</a>
      <a href="my-list.php?name=Yuuki" class="list-group-item list-group-item-action">Yuuki</a>
      <a href="my-list.php?name=Tuula" class="list-group-item list-group-item-action">Tuula</a>
      <a href="my-list.php?name=Tony" class="list-group-item list-group-item-action">Tony</a>
      <a href="my-list.php?name=Richard" class="list-group-item list-group-item-action">Richard</a>
      <a href="my-list.php?name=Lyndy" class="list-group-item list-group-item-action">Lyndy</a>
      <a href="my-list.php?name=Extra" class="list-group-item list-group-item-action">Extra</a>
      <a href="my-list.php?name=Group-3-Extras" class="list-group-item list-group-item-action">Group 3 Extras</a>
    </div>
  </div>
   <div class="tab-pane fade" id="nav-craig" role="tabpanel" aria-labelledby="nav-craig-tab">
        <div class="list-group">
      <a href="my-list.php?name=Ivanna" class="list-group-item list-group-item-action">Ivanna</a>
      <a href="my-list.php?name=Jono" class="list-group-item list-group-item-action">Jono</a>
      <a href="my-list.php?name=Navara" class="list-group-item list-group-item-action">Navara</a>
      <a href="my-list.php?name=Noemi" class="list-group-item list-group-item-action">Noemi</a>
      <a href="my-list.php?name=Vin" class="list-group-item list-group-item-action">Vin</a>
      <a href="my-list.php?name=Angie" class="list-group-item list-group-item-action">Angie</a>
      <a href="my-list.php?name=Shannon" class="list-group-item list-group-item-action">Shannon</a>
      <a href="my-list.php?name=Ches" class="list-group-item list-group-item-action">Ches</a>
      <a href="my-list.php?name=Pat" class="list-group-item list-group-item-action">Pat</a>
      <a href="my-list.php?name=Juanita" class="list-group-item list-group-item-action">Juanita</a>
      <a href="my-list.php?name=Craig" class="list-group-item list-group-item-action">Craig</a>
      <a href="my-list.php?name=Justin" class="list-group-item list-group-item-action">Justin</a>
      <a href="my-list.php?name=Abigail" class="list-group-item list-group-item-action">Abigail</a>
      <a href="my-list.php?name=Elizabeth" class="list-group-item list-group-item-action">Elizabeth</a>
      <a href="my-list.php?name=Lisa" class="list-group-item list-group-item-action">Lisa</a>
      <a href="my-list.php?name=Mikaela" class="list-group-item list-group-item-action">Mikaela</a>
      <a href="my-list.php?name=Ning" class="list-group-item list-group-item-action">Ning</a>
      <a href="my-list.php?name=Pauline" class="list-group-item list-group-item-action">Pauline</a>
      <a href="my-list.php?name=Bel" class="list-group-item list-group-item-action">Bel</a>
      <a href="my-list.php?name=Zach" class="list-group-item list-group-item-action">Zach</a>
      <a href="my-list.php?name=Callan" class="list-group-item list-group-item-action">Callan</a>
      <a href="my-list.php?name=Karlene" class="list-group-item list-group-item-action">Karlene</a>
      <a href="my-list.php?name=Ayden" class="list-group-item list-group-item-action">Ayden</a>
      <a href="my-list.php?name=Hannah" class="list-group-item list-group-item-action">Hannah</a>
      <a href="my-list.php?name=Roger" class="list-group-item list-group-item-action">Roger</a>
      <a href="my-list.php?name=Group-4-Extras" class="list-group-item list-group-item-action">Group 4 Extras</a>
    </div>
   </div>
</div>

<!--<h4 class="pl-2">Map's That Are Checked Out</h4>-->
	<!-- Map image and info -->
	<div class="collapse" id="map-{{ mapNumber }}-info">

    <div class="container">

    <div id"mapDetails"></div>


      <div class="card">
        <div class="card-body" id="mapDetails">
        </div>
      </div>

      <div id="{{ mapNumber }}-history"></div>

    </div>

      <script>
        function loadMapDetails(Map) {
        //  alert("hello world!");
        //  alert("hello Map " + Map);
          $.get("mapDetails.php",
                {
                  Map: Map,
        //        Filter: Filter
                },
                function(data,status){
                    var e1 = (data);
        //            alert(e1);
                    document.getElementById("mapDetails").innerHTML = e1;
                });    
 
        }
        </script>
  </div>

{% if errorMessage %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ errorMessage }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>  
{% endif %} 	

{% if foo %}
  <!--{% include 'assignee-list.twig' %}-->
{% elseif availableMaps %}
  {% include 'availableMaps.twig' %}
{% elseif addresses %}
  <div class="text-center">
    <img src="https://skyricho.github.io/img/maps/{{ mapNumber }}.jpg" class="img-fluid">
  </div> 
  {% include 'addressList.twig' %}
{% elseif blockNumber %}
  <div class="text-center">
    <img src="https://skyricho.github.io/img/maps/{{ mapNumber }}.jpg" class="img-fluid">
  </div>
   {% include 'streetList.twig' %}
{% elseif mapNumber %}
  <div class="text-center">
    <img src="https://skyricho.github.io/img/maps/{{ mapNumber }}.jpg" class="img-fluid">
  </div>
  {% include 'mapBlocks.twig' %}
{% endif %}
    
{% endblock %}

