{% if cStatus == 'ah' %}
<a data-toggle="collapse" href="#revert-unit-{{ unitID }}" role="button" aria-expanded="false" aria-controls="revert-unit-{{ unitID }}">
  Unit {{ unitNumber }}
</a>
<div class="float-right">
  <!--<small><i>At home {{ Date|date("D d M") }}</i></small>-->
    <div class="collapse" id="revert-unit-{{ unitID }}">
      <button onclick="updateHousingUnit('{{ unitID }}', '', '', '{{ streetNumber }}-unit-{{ unitNumber }}')" class="btn btn-outline-secondary btn-sm">
        Clear at home date
      </button>
    </div>
</div>
{% else %}
Unit {{ unitNumber }}
<div class="float-right">
  <button onclick="updateHousingUnit('{{ unitID }}', 'ah', '', '{{ streetNumber }}-unit-{{ unitNumber }}')" class="btn btn-outline-secondary btn-sm">
    At Home
  </button>  
</div>
{% endif %}