<ul class="list-group">
  {% for localbusiness in localbusinesses %}
    <li id="{{ localbusiness.id }}" class="list-group-item">
      <span><i class="fas fa-check-circle" style="color: {{ localbusiness.badgeColor }}"></i></span>
      <a data-toggle="collapse" href="#revert-{{ localbusiness.id }}" role="button" aria-expanded="false" aria-controls="revert-{{ localbusiness.id }}">
        {{ localbusiness.businessName|raw }}
      </a>{% if localbusiness.contactEmail %}<span><i class="fas fa-at"></i></i></span>{% endif %}
      <div class="float-right" id="{{ localbusiness.id }}-status">
        <span class="badge badge-secondary">{{ localbusiness.status }}</span>
      </div>
        
      <div class="collapse card mt-2 mb-2" id="revert-{{ localbusiness.id }}">
        <div class="card-header p-2 pb-2">
          {% if localbusiness.contactName %}{{ localbusiness.contactName }}<br>{% endif %}
          {% if localbusiness.contactEmail %}<a href="mailto:{{ localbusiness.contactEmail }}">{{ localbusiness.contactEmail }}</a><br>{% endif %}
          {% if localbusiness.phone %}{{ localbusiness.phone }}<br><br>{% endif %}
          {% if localbusiness.streetAddressRaw %}{{ localbusiness.streetAddressRaw }}<br>{% endif %}
          {% if localbusiness.secondLine %}{{ localbusiness.secondLine }}<br>{% endif %}
          {% if localbusiness.thirdLine %}{{ localbusiness.thirdLine }}<br>{% endif %}
          {% if localbusiness.fourthLine %}{{ localbusiness.fourthLine }}<br>{% endif %}
          {% if localbusiness.note %}<small>{{ localbusiness.note|raw }}</small>{% endif %}


          <h6 class="mt-4">Status</h6>
          <div id="status-{{ localbusiness.id }}">

            <form class="form-inline" ic-post-to="status.php" ic-target="#status-{{ localbusiness.id }}">
              <input type="hidden" name="id" value="{{ localbusiness.id }}">
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02" name="status">
                  <option selected>{{ localbusiness.status }}</option>
                  <option value="Letter sent">Letter sent</option>
                  <option value="Email sent">Email sent</option>
                  <option value="">Reset</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary">Save</button>
                </div>   
              </div>
            </form>
          
          </div>

        </div>
      </div>      
    </li>
  {% endfor %}

</ul>

 <!--<button class="btnn" data-clipboard-text="foo">
    Copy
</button>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  <script>
    new ClipboardJS('.btnn');
  </script>

          